torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2

transformers==4.40.1
accelerate==0.29.3

opencv-python==4.9.0.80
mediapipe==0.10.11

numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2

fastapi==0.110.2
uvicorn==0.29.0

loguru==0.7.2

sqlalchemy==2.0.29

ffmpeg-python==0.2.0
librosa==0.10.1
soundfile==0.12.1

SpeechRecognition==3.10.1
openai-whisper==20231117

pyyaml==6.0.1

tqdm==4.66.4